// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-unit-size: 32px !default;
$editor-shadow: 0 0 10px 10px rgba(0,0,0,.1) !default;
$v-layout-spacing-vertical: round($v-unit-size / 1.8) !default;
$v-layout-spacing-horizontal: round($v-unit-size / 1.8) !default;
$employee-form-background-color: #3b3f42 !default;

@import "../valo/valo.scss";

@mixin consplantheme {
  @include valo;

  .v-ui[width-range~="0-550px"] {
  // Form should take whole browser width when we are under 550px in width.
  
    .product-form-wrapper {
      width:100%;
    }
  }
  
  .employee-form-item {
    display: block;
    padding-bottom: round($v-unit-size / 6); 
  }
  
  // Enables the employee form to be on top of grid
  .employee-form-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: round($v-unit-size * 9);
    height: 100%;
    overflow: auto;
    padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal;
    background-color: $employee-form-background-color;
    color: valo-font-color($employee-form-background-color, 0.8);
    
    right: 0;
    @include transition(all 300ms);
    @include transform(translatex(100%));

    // Set the context color for the style mixins
    $temp: $v-app-background-color;
    $v-app-background-color: $editor-background-color;
    
    .v-button {
      display: block;
      padding-top: round($v-unit-size / 12);
      padding-bottom: round($v-unit-size / 12);
    }

  }

  // Enables animation for opening CRUD editor
  .visible {
  	 @include transform(none);
     @include box-shadow($editor-shadow);
  }
}
